<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/admin">
<body>

<th:block layout:fragment="customjs">
    <script type="text/javascript" th:src="@{/pages/dashboard.js}"></script>
    <script type="text/javascript" th:src="@{/js/underscore-min.js}"></script>
</th:block>

<div class="content-wrapper" layout:fragment="content">

    <!-- Latest posts -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">Books in library</h6>
            <div class="heading-elements">
                <ul class="icons-list">
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-4" th:each="book : ${books}">
                    <ul class="media-list content-group">
                        <li class="media stack-media-on-mobile">
                            <div class="media-left">
                                <div class="thumb">
                                    <a href="#">
                                        <img th:src="${book.thumbnail}" class="img-responsive img-rounded media-preview" alt="" />
                                    </a>
                                </div>
                            </div>

                            <div class="media-body">
                                <h6 class="media-heading"><a href="#"><span th:text="${book.name}"></span> </a></h6>
                                <ul class="list-inline list-inline-separate text-muted mb-5">
                                    <li><i class="icon-book-play position-left"></i> Book</li>
                                    <li><span th:text="${book.total}"></span> available </li>
                                </ul>
                                <span th:text="${#strings.abbreviate(book.description,140)}"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /latest posts -->
</div>


</body>
</html>